main{
    .carousel-inner{
        text-align: center;
       }

}

nav {
    a {color: white;
    text-decoration: none;
    list-style-type: none;
}  img{
    width: 40px;
}
}

main{
 div{
 img{
    height: 45vh;}
}
}